@keyframes colors{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body{
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
}

.degrade{
    display: flex;
	justify-content: center;
	align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #304d63,#30cfd0, #330867, #30cfd0);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

.name{
    position: absolute;
    color: white;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}

.name h5{
    border: 1px solid white;
    padding: 2%;
	margin: 3%;
}