html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Jeito mais fácil */
#grid{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 20vh 40vh 15vh 25vh;
    grid-template-areas: "h h h"
                         "a b c"
                         "d d e"
                         "f f f"

    /*--> Tanto no grid-template-columns quanto no grid-template-rows
    a soma dos valores tem que ser igual a 100 (tamanho inteiro da tela) 
    
    --> No grid-template-columns é melhor usar porcentagem (%)
    do que fr 

    --> No grid-template-rows é sempre melhor usar a 
    medida vh

    --> grid gap = espaço entre as áreas
    --> É um atalho para grid-row-gap e grid-column-gap
    --> Primeiro linha, depois coluna. Se colocar um valor é aplicado para
    --> os dois*/
}

#div1{
    grid-area: h;
    background: brown;
}

#div2{
    grid-area: a;
    background: aqua;
}

#div3{
    grid-area: b;
    background: purple;
}

#div4{
    grid-area: c;
    background: yellow;
}

#div5{
    grid-area: d;
    background: green
}

#div6{
    grid-area: e;
    background: grey;
}

#div7{
    grid-area: f;
    background: brown;
}